<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Contracts" version="1.10.10126.4" targetFramework="net48" developmentDependency="true" />
  <package id="FSharp.Core" version="3.0.2" targetFramework="net48" />
  <package id="YC.QuickGraph" version="3.7.5-deta" targetFramework="net48" />
</packages>